.square {
  height: 100px;
  width: 100px;
  border: solid -2px grey;
  outline: 1px dashed yellow;
  outline-offset: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: grey;
}

.board {
  height: 306px;
  width: 306px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid black;
  /* outline-offset: -10px; */
}

.X {
  background-color: red;
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

.O {
 background-color: chartreuse;
 font-family: 'Permanent Marker', cursive;
 font-size: 3rem;
}
